.background-with-text {
  height: 200px;
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  color: #fff;
  line-height: 1.1;
  text-align: right;
  cursor: pointer;
  .second {
    font-size: 1.35rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  .first {
    font-size: 2.1rem;
    font-weight: 700;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 1200px) {
  .background-with-text {
    height: 140px;
    .first {
      font-size: 1.7rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .background-with-text {
    height: 140px;
    .first {
      font-size: 1.3rem;
    }
    .second {
      font-size: 1.1rem;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}