<div class="background-with-text" [ngStyle]="{'background-image': 'url(../../../assets/spanish.png)'}" (click)="onClick()">
  <span class="second" *ngIf="secondaryText">{{secondaryText}}</span>
  <span class="first" *ngIf="mainText">{{mainText}}</span>
</div>
