
<div class="program-banner">
  <img class="banner" src="../../../assets/program-banner.jpg">
  <div class="title-container">
    <div class="container">
      <span>ESTUDIANTES DEL PROGRAMA</span>
    </div>
  </div>
  <!-- <div class="mobile-download-info d-block d-lg-none">
    <img src="../../../assets/pdf.png">
  </div> -->
</div>
<div class="program-content">
  <div class="container pb-4">
    <div class="row">
      <div class="col-12 col-lg-3 px-4">
        <button class="navigation-btn" (click)="goToNav('graduados')" [ngClass]="{'active': activeSection === 'graduados'}">
          Listado de graduados
        </button>
        <button class="navigation-btn" (click)="goToNav('tesis')" [ngClass]="{'active': activeSection === 'tesis'}">
          Tesis
        </button>
      </div>
      <div class="col-12 col-lg-9 d-none d-lg-block border-left px-4">
        <div class="active-content">
          <div *ngIf="activeSection === 'graduados'">
            <table class="table table-sm">
              <thead>
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">Año egreso</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let i of graduates">
                  <td>{{ i.name }}</td>
                  <td>{{ i.year }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div *ngIf="activeSection === 'tesis'">
            <table class="table table-sm">
              <thead>
                <tr>
                  <th scope="col">Título</th>
                  <th scope="col">Autor</th>
                  <th scope="col">Año</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let i of thesis">
                  <td>{{ i.title }}</td>
                  <td>{{ i.author }}</td>
                  <td>{{ i.year }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
