<div class="foot-1">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-4">
        <span class="address">UNIVERSIDAD DE SANTIAGO DE CHILE. AVENIDA LIBERTADOR BERNARDO O'HIGGINS N° 3363, ESTACIÓN CENTRAL, SANTIAGO, CHILE.</span>
        <span class="address font-weight-bold">OFICINA DE INFORMACIONES, RECLAMOS Y SUGERENCIAS (OIRS)  |  (562) 2 718 49 00</span>
      </div>
      <div class="col-12 col-lg-6">
        <div class="cna text-left">
          <img src="../../../assets/lcna_horizontal_2.png">
          <div class="pl-1 text-white foot-links">
            <a *ngFor="let i of links" [href]="i.url">{{ i.content }}<br></a>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <!--OPCIONALES DEPENDE DEL PROGRAMA-->
        <div class="rrss">
          <div>
            <img src="../../../assets/fb.png">
            <span class="d-none d-lg-block">facebook</span>
          </div>
          <div>
            <img src="../../../assets/tw.png">
            <span class="d-none d-lg-block">twitter</span>
          </div>
          <div>
            <img src="../../../assets/yout.png">
            <span class="d-none d-lg-block">youtube</span>
          </div>
          <div>
            <img src="../../../assets/linkd.png">
            <span class="d-none d-lg-block">linkedin</span>
          </div>
          <div>
            <img src="../../../assets/ints.png">
            <span class="d-none d-lg-block">instagram</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="foot-2">
  <div class="container d-none d-lg-block">
    <div class="row">
      <div class="col-12 text-center">
        <img src="../../../assets/LOGO POSTGRADO_BN.png">
      </div>
      <!--
        otra foto correspondiente al departamento o facultad de cada programa
      <div class="col-12 text-center">
        <img src="../../../assets/LOGO POSTGRADO_BN.png">
      </div>
      -->
    </div>
  </div>
</div>
<div class="foot-3">
  <img src="../../../assets/universia_1.png">
  <img src="../../../assets/reuna_2.png">
  <img src="../../../assets/ue_2.png">
  <img src="../../../assets/eduroam_1.png">
  <img src="../../../assets/asociacionuniversidades_4.png">
</div>
