.foot-1 {
  width: 100%;
  background: #7d939d;
  padding: 25px 0 15px;
  .address {
    display: block;
    color: #fff;
  }
  .rrss {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: #fff;
    height: 100%;
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 15px;
      img {
        height: 30px;
        width: 30px;
      }
      span {
        font-size: 0.7rem;
      }
    }
  }
}

.cna {
  display: flex;
  justify-content: flex-end;
  img {
    height: 75px;
  }
}

.foot-2 {
  background: #5d7380;
  padding: 15px 0;
  img {
    max-height: 60px;
  }
}
.foot-3 {
  background: #b1b1b1;
  padding: 0 0 10px;
  display: flex;
  justify-content: center;
  img {
    height: 80px;
    margin: 0 10px;
  }
}

.foot-links {
  line-height: 1.2em;
  font-size: 0.65em;
  font-weight: 500;
  a {
    color: white !important;
  }
}

@media screen and (max-width: 991px) {
  .foot-1 {
    .rrss {
      justify-content: center;
      align-items: center;
      padding-top: 20px;
    }
  }
  .cna {
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .foot-1 {
    padding: 20px 0 15px;
    .address {
      font-size: 0.8rem;
      line-height: 1.2;
    }

    .rrss {
      justify-content: center;
      align-items: center;
      padding-top: 20px;
    }
  }
  .cna {
    img {
      height: 40px;
    }
  }
}
