.header {
  background: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  .upper {
    width: 100%;
    height: 10px;
    background: #184981;
    .orange-bar {
      background: #EE8226;
      height: 10px;
    }
  }
  .middle {
    width: 100%;
    height: 100%;
    padding: 10px 15px;
    .container {
      display: flex;
      justify-content: space-between;
      .logo {
        height: 90px;
        img {
          height: 100%;
          cursor: pointer;
        }      
      }
      .search {
        display: flex;
        flex-direction: column;
        .languages {
          margin-bottom: 20px;
          display: flex;
          justify-content: flex-end;
          img {
            height: 16px;
            width: 18px;
            margin-left: 6px;
            cursor: pointer;
          }
        }
        .search-input-group {
          position: relative;
          width: 215px;
          .search-input {width: 100%;
            background: #E9E9E9;
            border: 2px solid #ccc;
            padding: 0 10px;
            &:active, &:focus, &:hover, &:visited {
              outline: none;
            }
          }
          .input-button {
            position: absolute;
            right: 0;
            top: 2px;
            border: none;
            background: none;
            :active, &:focus, &:hover, &:visited {
              outline: none;
            }
          }
        }
      }
    }
  }
  .nav {
    width: 100%;
    height: 40px;
    background: #184981;
    .container{
      display: flex;
      justify-content: center;
      background: #184981;
      .nav-element {
        height: 40px;
        padding: 13px 0;
        text-align: center;
        text-decoration: none;
        transition: color .4s ease, background .4s ease;
        cursor: pointer;
        &:active, &:focus, &:visited {
          outline: none;
        }
        &:hover {
          background: #fff;
          .element-name {
            color: #184981;
          }
        }
        .element-name {
          height: 17px;
          padding: 0 10px;
          border-right: 1px solid #fff;
          color: #fff;
          text-transform: uppercase;
          line-height: 1;
          font-size: .95rem;
        }
        &:last-child {
          .element-name {
            border-right: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .nav-md {
    width: 100%;
    height: 35px;
    background: #184981;
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
  }
  .header {
    .orange-bar-lg {
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      background: #EE8226;
      height: 10px;
    }
    .upper {
      width: 100%;
      height: 10px;
      background: #184981;
      .orange-bar {
        background: #EE8226;
        height: 10px;
      }
    }
    .middle {
      .container {
        display: flex;
        justify-content: center;
        .search {
          position: absolute;
          right: 10px;
        }
      }
    }
    .nav {
      height: 0;
      overflow: hidden;
      position: absolute;
      top: 155px;
      z-index: 99999;
      transition: height .4s ease;
      .container{
        flex-direction: column;
        align-items: center;
        .nav-element {
          .element-name {
            border-right: none;
          }
        }
      }
      &.open {
        height: 280px;
      }
    }
  }
}
