.program-banner {
  width: 100%;
  .banner {
    width: 100%;
  }
  .title-container {
    width: 100%;
    background: #E6EBF1;
    padding: 10px 0;
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      span {
        font-size: 1.6rem;
        color: #184981;
      }
    }
  }
}