<div class="program-banner">
  <img class="banner" src="../../../assets/program-banner.jpg">
  <div class="title-container">
    <div class="container">
      <span>INVESTIGACIÓN</span>
    </div>
  </div>
</div>
<div class="program-content">
  <div class="container py-4">
    <div class="row">
    </div>
  </div>
</div>
