<div class="contact-form">
  <input class="contact-form-input" placeholder="NOMBRE">
  <input class="contact-form-input" placeholder="TELÉFONO">
  <input class="contact-form-input" placeholder="EMAIL">
  <textarea class="contact-form-input textarea" placeholder="MENSAJE"></textarea>
  <button>ENVIAR</button>
</div>
