.contact-form {
  width: 100%;
  height: 225px;
  background: #E9E9E9;
  border: 2px solid #ccc;
  padding: 10px 10px;
  text-align: right;
  .contact-form-input {
    width: 100%;
    height: 30px;
    padding: 0 10px;
    font-size: .9rem;
    background: #fff;
    border: 2px solid #ccc;
    margin-bottom: 5px;
    &.textarea {
      height: 60px;
      resize: none;
    }
    &:active, &:focus, &:visited {
      outline: none;
    }
  }
  button {
    padding: 0 15px;
    background: #5A7482;
    color: #fff;
    border: none;
    :active, &:focus, &:hover, &:visited{
      outline: none;
    }
  }
}

@media screen and (max-width: 1200px) {
  .contact-form {
    width: 100%;
    height: 194px;
    background: #E9E9E9;
    border: 2px solid #ccc;
    padding: 10px 10px;
    text-align: right;
    .contact-form-input {
      height: 25px;
      &.textarea {
        height: 50px;
        margin-bottom: 0;
      }
    }
  }
}
