.program-banner {
  width: 100%;
  .banner {
    width: 100%;
  }
  .title-container {
    width: 100%;
    background: #E6EBF1;
    padding: 10px 0;
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      span {
        font-size: 1.6rem;
        color: #184981;
      }
    }
  }
}

.program-content {
  width: 100%;
  padding: 20px 0;
  .navigation-btn {
    width: 100%;
    padding: 5px 0;
    text-align: right;
    background: none;
    border: none;
    color: #000;
    &:active, &:focus, &:visited {
      outline: none;
    }
    &:hover {
      text-decoration: underline;
    }
    &.active {
      font-weight: bold;
      text-decoration: underline;
    }
  }
  .active-content {

  }
}
.download-info {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  img {
    width: 80%;
  }
}

.amenities {
  width: 100%;
  padding: 20px 0;
  display: flex;
  a {
    cursor: pointer;
  }
  .mail-to {
    background: #000;
    padding: 1px 7px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    text-transform: uppercase;
    cursor: pointer;
  }
  .version {
    background: #DEDFE1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .8rem;
  }
}

.gray-1 {
  background: #F5F5F7;
}

.gray-2 {
  background: #DEDFE1;
}
.blue-txt {
  color: #184981;
}
.orange-txt {
  color: #EE8226;
}
.black-txt {
  color: #000;
}
.font-big {
  font-size: 1.3rem;
}
.font-medium {
  font-size: 1.1rem;
}
.font-small {
  font-size: .9rem;
}
.lh-1 {
  line-height:1;
}

@media screen and (max-width: 991px) {
  .program-banner {
    position: relative;
    .title-container {
      background: #fff;
      .container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        span {
          font-size: 1.4rem;
          color: #184981;
          text-align: center;
        }
      }
    }
    .mobile-download-info {
      position: absolute;
      right: 25px;
      bottom: 60px;
      img {
        width: 100px;
      }
    }
  }

  .program-content {
    padding: 0;
    .navigation-btn {
      padding: 10px 0;
      text-align: center;
      background: #184981;
      color: #fff;
      margin-bottom: 2px;
      font-weight: 300;
      font-size: 1.2rem;
      &:active, &:focus, &:visited {
        outline: none;
      }
      &:hover {
        text-decoration: none;
      }
      &.active {
        font-weight: 300;
        text-decoration: none;
      }
    }
    .mobile-active-content {
      max-height: 0;
      overflow: auto;
      &.active {
        transition: max-height .5s ease;
        max-height: 400px;
      }
    }
  }
}