<div class="program-banner">
  <img class="banner" src="../../../assets/program-banner.jpg">
  <div class="title-container">
    <div class="container">
      <span>CUERPO ACADÉMICO</span>
    </div>
  </div>
</div>
<div class="program-content">
  <div class="container py-4">
    <div class="row">
      <div *ngFor="let i of academics" class="col-12 col-md-6 col-lg-4 text-center pb-5" style="cursor: pointer;" (click)="goToAcademic(i.id)">
        <p><img [src]="i.image" class="rounded-circle"></p>
        <h5 class="text-warning">{{ i.name }}</h5>
        <p class="text-warning mb-1">{{ i.position }}</p>
        <p class="text-secondary">{{ i.email }}</p>
      </div>
    </div>
  </div>
</div>
