.carousel-content {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
  width: 100%;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > .slide {
  float: left;
  width: 100%;
  position: relative;
  overflow: hidden;
  img {
    width: 100%;
  }
}
.ctrl {
  position: absolute;
  z-index: 9999;
  color: #fff;
  font-size: 3.1rem;
  top: calc(50% - 38px);
}
.left {
  left: 20px;
}
.right {
  right: 20px;
}
.video-player {
  width: 100%;
  video {
    width: 100%;
  }
}
.gray-container{
  display: flex;
  width: 100%;
  height: 273px;
  flex-direction: column;
  justify-content: space-between;
  .title {
    font-size: 1.5rem;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 1200px) {
  .gray-container{
    height: 225px;
    .title {
      font-size: 1.3rem;
    }
  }
}

@media screen and (max-width: 991px) {
  .gray-container{
    height: auto;
    .title {
      font-size: 1.3rem;
      text-align: center;
      margin: 10px 0;
    }
  }
}
