
<div class="carousel-content mb-4">
  <div class="left ctrl d-none d-lg-block" (click)="prevSlide()">
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
    </svg>
  </div>
  <div class="right ctrl d-none d-lg-block" (click)="nextSlide()">
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
    </svg>
  </div>
  <div id="slider" class="swipe">
    <div class="swipe-wrap">
      <!-- repeat -->
      <div class="slide">
        <img src="../../../assets/banner.png">
      </div>
      <div class="slide">
        <img src="../../../assets/banner.png">
      </div>
      <div class="slide">
        <img src="../../../assets/banner.png">
      </div>
    </div>
  </div>
</div>
<div class="container mb-4 mb-lg-3">
  <div class="row">
    <div class="col-12 col-lg-6 pr-lg-2">
      <div class="video-player">
        <!-- <video controls (click)="toggleVideo($event)" #videoPlayer>
          <source src="https://www.youtube.com/embed/4-wyj3CSl6I" type="video/mp4">
            Browser not supported
        </video> -->
        <iframe width="560" height="315" src="https://www.youtube.com/embed/yyzm77j6aOI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-12 col-lg-6 pl-lg-2">
      <div class="row mx-0">
        <div class="col-12 col-lg-6 px-0 pr-lg-2">
          <div class="gray-container">
            <span class="title">Noticias</span>
            <app-image-with-text></app-image-with-text>
            <app-image-with-text></app-image-with-text>
          </div>
        </div>
        <div class="col-12 col-lg-6 px-0 pl-lg-2">
          <div class="gray-container">
            <span class="title">Consultas</span>
            <app-contact-form></app-contact-form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mb-3">
  <div class="row">
    <!-- repeat-->
    <!-- [ngClass]="{'pr-2': $even, 'pl-2': $even"}-->
    <div class="col-6 col-lg-3 pr-2 px-lg-3">
      <app-background-with-text mainText="Admisión" url="admision/fechas"></app-background-with-text>
    </div>
    <div class="col-6 col-lg-3 pl-2 px-lg-3">
      <app-background-with-text mainText="Conócenos" url="programa/descripcion"></app-background-with-text>
    </div>
    <div class="col-6 col-lg-3 pr-2 px-lg-3">
      <app-background-with-text secondaryText="Plan de estudios / Malla curricular" url="programa/plan"></app-background-with-text>
    </div>
    <div class="col-6 col-lg-3 pl-2 px-lg-3">
      <app-background-with-text mainText="Acreditación" url="programa/acreditacion"></app-background-with-text>
    </div>
  </div>
</div>

