<div class="image-with-text mb-3 mb-lg-0">
  <div class="row">
    <div class="col-4 col-lg-6">
      <img src="../../../assets/english.png">
    </div>
    <div class="col-8 col-lg-6 pl-0">
      <span>académica de la usach integrará comisión técnica para nueva constitución</span>
    </div>
  </div>
</div>
